.vs

game/

Debug/
Release/

enc_temp_folder/

*.vcxproj.user

*.vcs

# Shortcuts
*.lnk

# Ignore all LUX related Files
# To make this List I ran this Command, then accounted for Files I don't want to ignore
# (for %f in (*) do @echo %~nxf) > ignore.txt
# ^ creates ignore.txt with Folder Contents

# All Files in Shadersource/
src/materialsystem/stdshaders/shadersource

# All Files in Shaderlib/ EXCEPT Plugin.cpp
src/materialsystem/shaderlib/baseshader.cpp
src/materialsystem/shaderlib/BaseShader.h
src/materialsystem/shaderlib/cshader.h
src/materialsystem/shaderlib/ishadersystem.h
src/materialsystem/shaderlib/ProxyShaderAPI.cpp
src/materialsystem/shaderlib/ProxyShaderShadow.cpp
src/materialsystem/shaderlib/shaderdll.cpp
src/materialsystem/shaderlib/shaderdll_global.h
src/materialsystem/shaderlib/ShaderDLL.h
src/materialsystem/shaderlib/shaderlib_cvar.cpp
src/materialsystem/shaderlib/ProxyShaderShadow.h
src/materialsystem/shaderlib/ShaderSpew.cpp
src/materialsystem/shaderlib/VCSHotReload.cpp
src/materialsystem/shaderlib/shaderlib_cvar.h
src/materialsystem/shaderlib/ProxyShaderAPI.h
src/materialsystem/shaderlib/ShaderSpew.h
src/materialsystem/shaderlib/VCSHotReload.h

# All LUX Files from stdshaders/ itself
src/materialsystem/stdshaders/!Compile_All.bat
src/materialsystem/stdshaders/!Compile_Cable.bat
src/materialsystem/stdshaders/!Compile_Cloud.bat
src/materialsystem/stdshaders/!Compile_Core.bat
src/materialsystem/stdshaders/!Compile_Custom.bat
src/materialsystem/stdshaders/!Compile_DecalModulate.bat
src/materialsystem/stdshaders/!Compile_DistanceAlpha.bat
src/materialsystem/stdshaders/!Compile_Infected.bat
src/materialsystem/stdshaders/!Compile_LightmappedGeneric.bat
src/materialsystem/stdshaders/!Compile_LightmappedReflective.bat
src/materialsystem/stdshaders/!Compile_Modulate.bat
src/materialsystem/stdshaders/!Compile_Others.bat
src/materialsystem/stdshaders/!Compile_PostProcess.bat
src/materialsystem/stdshaders/!Compile_Refract.bat
src/materialsystem/stdshaders/!Compile_ShatteredGlass.bat
src/materialsystem/stdshaders/!Compile_Sky.bat
src/materialsystem/stdshaders/!Compile_Sprites.bat
src/materialsystem/stdshaders/!Compile_Teeth.bat
src/materialsystem/stdshaders/!Compile_Triplanar_Brush.bat
src/materialsystem/stdshaders/!Compile_Triplanar_Displacement.bat
src/materialsystem/stdshaders/!Compile_Triplanar_Model.bat
src/materialsystem/stdshaders/!Compile_UnlitGeneric.bat
src/materialsystem/stdshaders/!Compile_UnlitTwoTexture.bat
src/materialsystem/stdshaders/!Compile_VertexLitGeneric.bat
src/materialsystem/stdshaders/!Compile_Water.bat
src/materialsystem/stdshaders/!Compile_WorldVertexTransition.bat
src/materialsystem/stdshaders/$Clean_All.bat
src/materialsystem/stdshaders/$Clean_Includes.bat
src/materialsystem/stdshaders/$Clean_Shaders.bat
src/materialsystem/stdshaders/$Clean_Temps.bat
src/materialsystem/stdshaders/BaseVSShader.cpp
src/materialsystem/stdshaders/BaseVSShader.h
src/materialsystem/stdshaders/cpp_convars.cpp
src/materialsystem/stdshaders/cpp_convars.h
src/materialsystem/stdshaders/cpp_floatx.cpp
src/materialsystem/stdshaders/cpp_floatx.h
src/materialsystem/stdshaders/cpp_lux_commandbuilder.h
src/materialsystem/stdshaders/cpp_lux_shared.h
src/materialsystem/stdshaders/game_shader_dx9_episodic.vpc
src/materialsystem/stdshaders/game_shader_dx9_hl2.vpc
src/materialsystem/stdshaders/game_shader_generic_example_hl2mp.vpc
src/materialsystem/stdshaders/game_shader_generic_example_hl2mp.vpc.vpc_cache
src/materialsystem/stdshaders/game_shader_generic_example_tf.vpc
src/materialsystem/stdshaders/game_shader_generic_example_tf.vpc.vpc_cache
src/materialsystem/stdshaders/game_shader_generic_example_win64_hl2mp.vcxproj
src/materialsystem/stdshaders/game_shader_generic_example_win64_hl2mp.vcxproj.filters
src/materialsystem/stdshaders/game_shader_generic_example_win64_hl2mp.vcxproj.user
src/materialsystem/stdshaders/game_shader_generic_example_win64_hl2mp.vcxproj.vpc_crc
src/materialsystem/stdshaders/game_shader_generic_example_win64_tf.vcxproj
src/materialsystem/stdshaders/game_shader_generic_example_win64_tf.vcxproj.filters
src/materialsystem/stdshaders/game_shader_generic_example_win64_tf.vcxproj.user
src/materialsystem/stdshaders/game_shader_generic_example_win64_tf.vcxproj.vpc_crc
src/materialsystem/stdshaders/game_shader_generic_lux.vpc
src/materialsystem/stdshaders/game_shader_generic_std_hl2mp.vpc
src/materialsystem/stdshaders/game_shader_generic_std_tf.vpc
src/materialsystem/stdshaders/lux_black_ps30.fxc
src/materialsystem/stdshaders/lux_bloom_ps30.fxc
src/materialsystem/stdshaders/lux_blurfilters_ps30.fxc
src/materialsystem/stdshaders/lux_blurfilters_vs30.fxc
src/materialsystem/stdshaders/lux_blurgaussian_ps30.fxc
src/materialsystem/stdshaders/lux_brush_decal_vs30.fxc
src/materialsystem/stdshaders/lux_brush_simplified_vs30.fxc
src/materialsystem/stdshaders/lux_brush_vs30.fxc
src/materialsystem/stdshaders/lux_cable_ps30.fxc
src/materialsystem/stdshaders/lux_cable_spline_ps30.fxc
src/materialsystem/stdshaders/lux_cable_spline_vs30.fxc
src/materialsystem/stdshaders/lux_cable_vs30.fxc
src/materialsystem/stdshaders/lux_cloak_ps30.fxc
src/materialsystem/stdshaders/lux_cloak_vs30.fxc
src/materialsystem/stdshaders/lux_cloud_ps30.fxc
src/materialsystem/stdshaders/lux_cloud_vs30.fxc
src/materialsystem/stdshaders/lux_combinetextures_ps30.fxc
src/materialsystem/stdshaders/lux_combinetextures_vs30.fxc
src/materialsystem/stdshaders/lux_common_bicubic.h
src/materialsystem/stdshaders/lux_common_constants.h
src/materialsystem/stdshaders/lux_common_defines.h
src/materialsystem/stdshaders/lux_common_depth.h
src/materialsystem/stdshaders/lux_common_detailtexture.h
src/materialsystem/stdshaders/lux_common_envmap.h
src/materialsystem/stdshaders/lux_common_flashlight.h
src/materialsystem/stdshaders/lux_common_fxc.h
src/materialsystem/stdshaders/lux_common_intro.h
src/materialsystem/stdshaders/lux_common_lighting.h
src/materialsystem/stdshaders/lux_common_lightmapped.h
src/materialsystem/stdshaders/lux_common_lightwarp.h
src/materialsystem/stdshaders/lux_common_normalmap.h
src/materialsystem/stdshaders/lux_common_phong.h
src/materialsystem/stdshaders/lux_common_phong_data.h
src/materialsystem/stdshaders/lux_common_phong_flashlight.h
src/materialsystem/stdshaders/lux_common_pragmas.h
src/materialsystem/stdshaders/lux_common_ps_fxc.h
src/materialsystem/stdshaders/lux_common_selfillum.h
src/materialsystem/stdshaders/lux_common_spline.h
src/materialsystem/stdshaders/lux_common_triplanar.h
src/materialsystem/stdshaders/lux_common_uberlight.h
src/materialsystem/stdshaders/lux_common_vs_brush.h
src/materialsystem/stdshaders/lux_common_vs_fxc.h
src/materialsystem/stdshaders/lux_common_vs_model.h
src/materialsystem/stdshaders/lux_common_vs_sway.h
src/materialsystem/stdshaders/lux_core_ps30.fxc
src/materialsystem/stdshaders/lux_core_vs30.fxc
src/materialsystem/stdshaders/lux_custom_brush_vs30.fxc
src/materialsystem/stdshaders/lux_custom_common_ps.h
src/materialsystem/stdshaders/lux_custom_common_vs.h
src/materialsystem/stdshaders/lux_custom_model_vs30.fxc
src/materialsystem/stdshaders/lux_custom_particle_ps30.fxc
src/materialsystem/stdshaders/lux_custom_particle_vs30.fxc
src/materialsystem/stdshaders/lux_custom_projtex_ps30.fxc
src/materialsystem/stdshaders/lux_custom_ps30.fxc
src/materialsystem/stdshaders/lux_debug_luxels_ps30.fxc
src/materialsystem/stdshaders/lux_debug_luxels_vs30.fxc
src/materialsystem/stdshaders/lux_debug_textureview_ps30.fxc
src/materialsystem/stdshaders/lux_debug_textureview_vs30.fxc
src/materialsystem/stdshaders/lux_decalmodulate_ps30.fxc
src/materialsystem/stdshaders/lux_depthoffield_ps30.fxc
src/materialsystem/stdshaders/lux_depthtodestalpha_ps30.fxc
src/materialsystem/stdshaders/lux_displacement_vs30.fxc
src/materialsystem/stdshaders/lux_distancealpha_ps30.fxc
src/materialsystem/stdshaders/lux_emissive_ps30.fxc
src/materialsystem/stdshaders/lux_emissive_vs30.fxc
src/materialsystem/stdshaders/lux_engine_post_ps30.fxc
src/materialsystem/stdshaders/lux_eyes_ps30.fxc
src/materialsystem/stdshaders/lux_eyes_vs30.fxc
src/materialsystem/stdshaders/lux_infected_ps30.fxc
src/materialsystem/stdshaders/lux_infected_ps30.h
src/materialsystem/stdshaders/lux_infected_registermap.h
src/materialsystem/stdshaders/lux_infected_vs30.fxc
src/materialsystem/stdshaders/lux_lightmappedgeneric_bump_ps30.fxc
src/materialsystem/stdshaders/lux_lightmappedgeneric_decal_ps30.fxc
src/materialsystem/stdshaders/lux_lightmappedgeneric_flashlight_ps30.fxc
src/materialsystem/stdshaders/lux_lightmappedgeneric_main.h
src/materialsystem/stdshaders/lux_lightmappedgeneric_phong_ps30.fxc
src/materialsystem/stdshaders/lux_lightmappedgeneric_simple_ps30.fxc
src/materialsystem/stdshaders/lux_lightmappedmodel_projtex_ps30.fxc
src/materialsystem/stdshaders/lux_lightmappedmodel_ps30.fxc
src/materialsystem/stdshaders/lux_lightmappedmodel_vs30.fxc
src/materialsystem/stdshaders/lux_lightmappedreflective_ps30.fxc
src/materialsystem/stdshaders/lux_lightmappedreflective_vs30.fxc
src/materialsystem/stdshaders/lux_meshoutline_ps30.fxc
src/materialsystem/stdshaders/lux_meshoutline_vs30.fxc
src/materialsystem/stdshaders/lux_model_bump_vs30.fxc
src/materialsystem/stdshaders/lux_model_simplified_vs30.fxc
src/materialsystem/stdshaders/lux_model_vs30.fxc
src/materialsystem/stdshaders/lux_modulate_ps30.fxc
src/materialsystem/stdshaders/lux_refract_ps30.fxc
src/materialsystem/stdshaders/lux_refract_vs30.fxc
src/materialsystem/stdshaders/lux_registermap_cpp.h
src/materialsystem/stdshaders/lux_registermap_hlsl.h
src/materialsystem/stdshaders/lux_registermap_ps.h
src/materialsystem/stdshaders/lux_registermap_vs.h
src/materialsystem/stdshaders/lux_rimlightpass_ps30.fxc
src/materialsystem/stdshaders/lux_rimlightpass_registermap.h
src/materialsystem/stdshaders/lux_rimlightpass_vs30.fxc
src/materialsystem/stdshaders/lux_screenspace_ps30.fxc
src/materialsystem/stdshaders/lux_screenspace_vs30.fxc
src/materialsystem/stdshaders/lux_shatteredglass_ps30.fxc
src/materialsystem/stdshaders/lux_shatteredglass_vs30.fxc
src/materialsystem/stdshaders/lux_sheenpass_ps30.fxc
src/materialsystem/stdshaders/lux_sheenpass_vs30.fxc
src/materialsystem/stdshaders/lux_sky_compressed_ps30.fxc
src/materialsystem/stdshaders/lux_sky_hdri_ps30.fxc
src/materialsystem/stdshaders/lux_sky_rgbs_ps30.fxc
src/materialsystem/stdshaders/lux_sky_rgbs_vs30.fxc
src/materialsystem/stdshaders/lux_sky_simple_ps30.fxc
src/materialsystem/stdshaders/lux_spritecard_ps30.fxc
src/materialsystem/stdshaders/lux_spritecard_spline_vs30.fxc
src/materialsystem/stdshaders/lux_spritecard_vs30.fxc
src/materialsystem/stdshaders/lux_sprite_ps30.fxc
src/materialsystem/stdshaders/lux_sprite_vs30.fxc
src/materialsystem/stdshaders/lux_ssao_drawnormal_ps30.fxc
src/materialsystem/stdshaders/lux_ssao_drawnormal_vs30.fxc
src/materialsystem/stdshaders/lux_teeth_ps30.fxc
src/materialsystem/stdshaders/lux_teeth_vs30.fxc
src/materialsystem/stdshaders/lux_triplanar_brush_flashlight_ps30.fxc
src/materialsystem/stdshaders/lux_triplanar_brush_ps30.fxc
src/materialsystem/stdshaders/lux_triplanar_displacement.h
src/materialsystem/stdshaders/lux_triplanar_displacement_flashlight_ps30.fxc
src/materialsystem/stdshaders/lux_triplanar_displacement_ps30.fxc
src/materialsystem/stdshaders/lux_triplanar_model_flashlight_ps30.fxc
src/materialsystem/stdshaders/lux_triplanar_model_ps30.fxc
src/materialsystem/stdshaders/lux_unlitgeneric_ps30.fxc
src/materialsystem/stdshaders/lux_unlitgeneric_registermap.h
src/materialsystem/stdshaders/lux_vertexlitgeneric_asw_bump_ps30.fxc
src/materialsystem/stdshaders/lux_vertexlitgeneric_asw_flashlight_ps30.fxc
src/materialsystem/stdshaders/lux_vertexlitgeneric_asw_phong_ps30.fxc
src/materialsystem/stdshaders/lux_vertexlitgeneric_asw_simple_ps30.fxc
src/materialsystem/stdshaders/lux_vertexlitgeneric_bump_ps30.fxc
src/materialsystem/stdshaders/lux_vertexlitgeneric_flashlight_ps30.fxc
src/materialsystem/stdshaders/lux_vertexlitgeneric_main.h
src/materialsystem/stdshaders/lux_vertexlitgeneric_phong_ps30.fxc
src/materialsystem/stdshaders/lux_vertexlitgeneric_simple_ps30.fxc
src/materialsystem/stdshaders/lux_water_cheap_ps30.fxc
src/materialsystem/stdshaders/lux_water_expensive_ps30.fxc
src/materialsystem/stdshaders/lux_water_vs30.fxc
src/materialsystem/stdshaders/lux_worldvertextransition.h
src/materialsystem/stdshaders/lux_worldvertextransition_bump_ps30.fxc
src/materialsystem/stdshaders/lux_worldvertextransition_flashlight_ps30.fxc
src/materialsystem/stdshaders/lux_worldvertextransition_main.h
src/materialsystem/stdshaders/lux_worldvertextransition_phong_ps30.fxc
src/materialsystem/stdshaders/lux_worldvertextransition_simple_ps30.fxc
src/materialsystem/stdshaders/ShaderList_All.txt
src/materialsystem/stdshaders/ShaderList_Cable.txt
src/materialsystem/stdshaders/ShaderList_Cloud.txt
src/materialsystem/stdshaders/ShaderList_Core.txt
src/materialsystem/stdshaders/ShaderList_Custom.txt
src/materialsystem/stdshaders/ShaderList_DecalModulate.txt
src/materialsystem/stdshaders/ShaderList_DistanceAlpha.txt
src/materialsystem/stdshaders/ShaderList_Infected.txt
src/materialsystem/stdshaders/ShaderList_LightmappedGeneric.txt
src/materialsystem/stdshaders/ShaderList_LightmappedReflective.txt
src/materialsystem/stdshaders/ShaderList_Modulate.txt
src/materialsystem/stdshaders/ShaderList_Others.txt
src/materialsystem/stdshaders/ShaderList_PostProcess.txt
src/materialsystem/stdshaders/ShaderList_PostProcess_vs20.txt
src/materialsystem/stdshaders/ShaderList_Refract.txt
src/materialsystem/stdshaders/ShaderList_ShatteredGlass.txt
src/materialsystem/stdshaders/ShaderList_Sky.txt
src/materialsystem/stdshaders/ShaderList_Sprites.txt
src/materialsystem/stdshaders/ShaderList_Teeth.txt
src/materialsystem/stdshaders/ShaderList_Triplanar_Brush.txt
src/materialsystem/stdshaders/ShaderList_Triplanar_Displacement.txt
src/materialsystem/stdshaders/ShaderList_Triplanar_Model.txt
src/materialsystem/stdshaders/ShaderList_UnlitGeneric.txt
src/materialsystem/stdshaders/ShaderList_UnlitTwoTexture.txt
src/materialsystem/stdshaders/ShaderList_VertexLitGeneric.txt
src/materialsystem/stdshaders/ShaderList_Water.txt
src/materialsystem/stdshaders/ShaderList_WorldVertexTransition.txt
src/materialsystem/stdshaders/ShadersBuild.bat
src/materialsystem/stdshaders/ShadersBuildDirectories.bat
src/materialsystem/stdshaders/ShadersCallProcess.bat